In [1]:
import pandas as pd

# <u>Creating Series DataStructure</u>

### **Using List**

In [4]:
students=["hanan","Ravi","Janu"]

In [5]:
pd.Series(students)

0    hanan
1     Ravi
2     Janu
dtype: object

In [6]:
num=[1,2,3]

In [7]:
pd.Series(num)

0    1
1    2
2    3
dtype: int64

### **Using Dictionary**

In [9]:
marks={"Alice":30,"john":50,"mary":45}

In [10]:
mark=pd.Series(marks)
mark

Alice    30
john     50
mary     45
dtype: int64

In [11]:
mark.index

Index(['Alice', 'john', 'mary'], dtype='object')

### **Using List of Tuples**

In [13]:
students=[("alice","brown"),("hanan","yellow"),("ram","white")]

In [14]:
pd.Series(students)

0     (alice, brown)
1    (hanan, yellow)
2       (ram, white)
dtype: object

### **Using Direct Substitution**

In [16]:
s=pd.Series([30,50,45],index=["alice","ram","sam"])
s

alice    30
ram      50
sam      45
dtype: int64

## *None As a Data*

In [18]:
students=["hanan","ravi",None]

In [19]:
pd.Series(students)

0    hanan
1     ravi
2     None
dtype: object

In [20]:
num=[1,2,None]

In [21]:
pd.Series(num)

0    1.0
1    2.0
2    NaN
dtype: float64

* NaN is a special floating point value(Not a Number) 
* Only for list of Numbers

## *Missing Data*

In [24]:
marks={"Alice":30,"john":50,"mary":45}

In [25]:
s=pd.Series(marks, index=["Alice","Sam","mary"])
s

Alice    30.0
Sam       NaN
mary     45.0
dtype: float64

* NaN for Missing Data

# <u>Querying Series </u>

## **Locating data**

In [28]:
r=pd.Series(["physics","chemistry","Maths"],index=["sam","molly","Ram"])
r

sam        physics
molly    chemistry
Ram          Maths
dtype: object

* iloc used to locate using index value

In [30]:
r.iloc[2]

'Maths'

* loc is used to locate using index name

In [32]:
r.loc["molly"]

'chemistry'

* Only possible for index names
* Can't handle Number in Square Bracket

In [34]:
r["molly"]

'chemistry'

### **Operations Using Series**

In [36]:
import numpy as np

In [37]:
grades=pd.Series([30,60,99,38,46])

In [38]:
np.mean(grades)

np.float64(54.6)

* Vectorisation is done here(No loops used for operations)

In [82]:
m=pd.Series(np.random.randint(1,100,100))
m

0     54
1     93
2      1
3     57
4     77
      ..
95    30
96    86
97     4
98    20
99    98
Length: 100, dtype: int32

In [72]:
%%timeit -n 10
l=pd.Series([4,7,9,6])

129 μs ± 15.9 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

* **%%timeit -n 10** is used to find the running time of the code

In [74]:
l+=2
l

0     8
1    11
2    13
3    10
dtype: int64

* **Broadcasting** (Performing Operations on every element seperately )

## **Adding New data**

In [101]:
f=pd.Series([1,2,4,3])

In [103]:
f.loc["game"]=5

In [105]:
f

0       1
1       2
2       4
3       3
game    5
dtype: int64

## **Merge two Series**

In [115]:
w=pd.Series({"ram":"physics","yanu":"chem","manu":"maths"})

In [117]:
k=pd.Series(["physics","maths","english"],index=["kell","kell","kell"])

In [123]:
h=pd.concat([w,k])
h

ram     physics
yanu       chem
manu      maths
kell    physics
kell      maths
kell    english
dtype: object

In [129]:
h["kell"]

kell    physics
kell      maths
kell    english
dtype: object